.venv
venv
.idea
*.pyc
__pycache__
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info
*.egg
dist
build
*.tar.gz
*.zip
*.whl
*.DS_Store
*.coverage
.coverage.*
*.mypy_cache
*.pytest_cache
*.tox
*.vscode
*.pkl
*.ipynb_checkpoints
*.coverage.xml
*.coverage.json
*.coverage.html
*.coverage.txt
*.coverage.lcov
*.coverage.json.gz
*.coverage.xml.gz
*.coverage.html.gz